@{
    ViewBag.Title = "Admin Page";
}

<div class="jumbotron">
    <p><a href="~/Departments" class="btn btn-primary btn-lg">Departments &raquo;</a></p>
    <p><a href="~/Modules" class="btn btn-primary btn-lg">Modules &raquo;</a></p>
    <p><a href="~/Staffs" class="btn btn-primary btn-lg">Staff &raquo;</a></p>
    <p><a href="~/UserRoles" class="btn btn-primary btn-lg">User Roles &raquo;</a></p>
    <p><a href="~/ManAvailabilityPeriods" class="btn btn-primary btn-lg">Staff Availability Periods &raquo;</a></p>
</div>