<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pos.vistula.edu.pl</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>10.10.5.30</MSDeployServiceURL>
    <DeployIisAppPath>POS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>adm\mdemirbilek</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="UPOSEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=10.10.5.30\SQLEXPRESS;Initial Catalog=UPOS;Persist Security Info=True;User ID=vuposUser;Password=Mehmet121" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="POS.UPOSEntities, POS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=10.10.5.30\SQLEXPRESS;Initial Catalog=UPOS;Persist Security Info=True;User ID=vuposUser;Password=Mehmet121" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="POS.Models.ApplicationDbContext, POS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=10.10.5.30\SQLEXPRESS;Initial Catalog=UPOS;Persist Security Info=True;User ID=vuposUser;Password=Mehmet121</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="UPOSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/UposModel.csdl|res://*/UposModel.ssdl|res://*/UposModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=10.10.5.30\SQLEXPRESS;Initial Catalog=UPOS;Persist Security Info=True;User ID=vuposUser;Password=Mehmet121"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=10.10.5.30\SQLEXPRESS;Initial Catalog=POS;Persist Security Info=True;User ID=posUser;Password=Mehmet121</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="UPOSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/UposModel.csdl|res://*/UposModel.ssdl|res://*/UposModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=10.10.5.30\SQLEXPRESS;Initial Catalog=POS;Persist Security Info=True;User ID=posUser;Password=Mehmet121"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="UPOSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/UposModel.csdl|res://*/UposModel.ssdl|res://*/UposModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=10.10.5.30\SQLEXPRESS;Initial Catalog=POS;Persist Security Info=True;User ID=posUser;Password=Mehmet121"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="UPOSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/UposModel.csdl|res://*/UposModel.ssdl|res://*/UposModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=10.10.5.30\SQLEXPRESS;Initial Catalog=POS;Persist Security Info=True;User ID=posUser;Password=Mehmet121"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>