@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p><a href="~/Modules/DeptModules" class="btn btn-primary btn-lg">@ViewBag.PosMessage &raquo;</a></p>
    <p><a href="~/StaffAvailabilities" class="btn btn-primary btn-lg">My Availability &raquo;</a></p>
    <p><a href="~/AvailableRooms" class="btn btn-primary btn-lg">Available Rooms &raquo;</a></p>
    <p><a href="~/Modules/StaffModules" class="btn btn-primary btn-lg">My Activities &raquo;</a></p>
    <p><a href="~/Modules/ActivitiesByStaff" class="btn btn-primary btn-lg">Activities by Staff &raquo;</a></p>

</div>
